body {
	text-align: center;
	background-color: white;
	font-family: Optima;
}

a {
	text-decoration: none;
	color: red;
}


/* /\/\/\/\/\ SLICES /\/\/\/\/\ */
.slices {
	width: 100;
	height: 100;
	border-top: solid 50px;
	border-right: solid 0px transparent;
}
 #slice-one {
 	border-top-color: #33639D;
	background: #f9f3ec;
 }
/* /\/\/\/\/\ NAVIGATION BAR /\/\/\/\/\ */
#nav-tabs a{
	float: center;
    color: black;
    text-align: center;
   	padding: 0px 40px;
  	word-wrap: normal;
  	display: inline-block;
}

.nav-bar {
	text-align: center;
	position: fixed;
	background-color: white;
	left: 0;
    top: 0;
    width: 100%;
}
#nav-tabs .selected {
	font-style: oblique;
	font-weight: bold;

}

#nav-tabs a:hover {
    background-color: white;
    color: #0363b7;
    transition: 0.5s;
}
#nav-align {
	float:left;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */



/* /\/\/\/\/\/\ HEADER /\/\/\/\/\/\/\ */
#header h1 {
	margin: 0;
	font-size: 100px;
	font-variant: small-caps;
	font-style: italic;
}

#header {
	font-family: Optima;
	
	/*background-color: white;*/
	color: black;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: center;
} 
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */


/* /\/\/\/\/\/\/ ABOUT /\/\/\/\/\/\/\/\//\/\/\/\*/
#about{
	background-color: #fdf2ff;
	width: 100%;
	display: inline-block;
	/*border-bottom-right-radius: 0%;
	border-top-right-radius: 50%;*/
}
#headshot {
	width: 20%;
	display: inline-block;
	border-radius: 30%;
	vertical-align: middle;
	margin: 25px 50px;
	word-wrap: normal;
}

#ab-txt {
	font-size: 25px;
	display: inline-block;
	vertical-align: right;
	width: 100%;
	font-family: Optima;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 25px;
}

#ab-txt em{
	font-size: 35px;
}

#school {
	color:#071f6d;
}

#major{
	color: #3913ad;
}
#german {
	color: #c44403;
}
#rock-climb{
	color: #0a7bcc;
}
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/


/* Most Recent Posts */
#updates {
	background-color: #fdf2ff;
	width: 60%;
	display: inline-block;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;

}
#castle {
	
	display: inline-block;
	border-radius: 20%;
	vertical-align: center;
	
	word-wrap: normal;
}
#post-txt {
	font-size: 18px;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 50%;
	border-bottom-left-radius: 50%;
}
#post-txt h2 {
	margin-top: 30px;

	float: right;
	text-align: right;
	border-top-left-radius: 50%;
}
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/






/* /\/\/\/\/\ FOOTER /\/\/\/\/\/\*/

#footer {
	padding: 10px;
	clear: both;
}
#footer h4{
	text-align: center;

}
#footer h5 {
	text-align: right;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/





