body {
	text-align: center;
	background-color: white;
	font-family: 'Caveat', cursive;
}

a {
	text-decoration: none;
}
.autoplay{
    width:90%;
    margin:0px auto;
}
.slick-slide{
    margin:10px;
}
.photos {
    width: 500px;
}
.slick-slide img{
    width:100%;
    border: 2px solid #fff;
}