body {
	text-align: center;
	background-color: white;
	font-family: 'Caveat', cursive;
}

a {
    text-decoration: none;
    color: rgba(63, 61, 61, 0.884);
}
.autoplay{
    width:90%;
    margin:0px auto;
}
.slick-slide{
    margin:10px;
}
.photos {
    width: 500px;
}
.slick-slide img{
    width:100%;
    border: 2px solid #fff;
}
.navigate {
	/* display: flex; */
	
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
ul {
	display: block;
	list-style-type: none;
	/* display: flex; */
	
}
li {
	font-size: 30px;
	color: black;
	float: left;
	text-decoration: none;
	padding: 0px 20px;
}
.nav-button:hover {
	transition-delay: .1s;
	color: rgba(47, 108, 143, 0.884);
	animation-name: twitch-button;
	-webkit-transform: rotate(12deg);
}