body {
	text-align: center;
	background-color: white;
	font-family: 'Caveat', cursive;
}

a {
	text-decoration: none;
	color: rgba(63, 61, 61, 0.884);
}
/* intro page*/
#head {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}
#main-pic {
	/* float: left; */
	/* padding-left: 10px; */
	width: 25%;
	border-radius: 50%;
}
.navigate {
	/* display: flex; */
	
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
ul {
	display: block;
	list-style-type: none;
	/* display: flex; */
	
}
li {
	font-size: 30px;
	color: black;
	float: left;
	text-decoration: none;
	padding: 0px 20px;
}
.nav-button:hover {
	transition-delay: .1s;
	color: rgba(47, 108, 143, 0.884);
	animation-name: twitch-button;
	-webkit-transform: rotate(12deg);
}
/************/


/* Contact info */


#contact-info{
	display: none;
	float: right;
	width: 50%;
	display: inline-block;
	/* margin-top: px; */
	margin-bottom: 10px;
}

#main_contact{
	margin-top: 30px;
	margin-bottom: 30px;
	float: center;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	font-style: italic;
}
#contact_blurb{
	font-style: normal;
	font-size: 40px;
	color: #f44245;
	text-align: center;
	float: center;
	font-weight: bold;
}

.con_title{
	text-align: center;
	margin-right: 30px;
	margin-left: 70px;
	font-weight: bolder;
	font-size: 35px;
	font-style: italic;
	
}
.con_det {
	text-align: center;
	margin-right: 30px;
	margin-left: 70px;
	font-size: 20px;
	font-weight: bold;
	
}
.con_det a{
	color: #0363b7;
}
.con_det a:hover{
	color: gray;
	transition: .5s;
}
/* /\/\/\/\/\/\ */










